{
  "branches": [
    "develop",
    {
      "name": "homolog",
      "prerelease": "homolog",
      "channel": "homolog"
    },
    {
      "name": "main",
      "channel": "latest"
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md"
      }
    ],
    [
      "@semantic-release/npm",
      {
        "npmPublish": false,
        "tarballDir": "dist"
      }
    ],
    "@semantic-release/github",
    [
      "@semantic-release/git",
      {
        "assets": [
          "package.json",
          "CHANGELOG.md",
          "frontend/package.json",
          "frontend/CHANGELOG.md",
          "frontend/src/addons/*/package.json",
          "frontend/src/addons/*/CHANGELOG.md"
        ],
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ],
    [
      "semantic-release-monorepo",
      {
        "packages": [
          "frontend/src/addons/*"
        ]
      }
    ]
  ]
} 