{% for section in sections %}
{% if sections[section] %}

### {{ sections[section] }}

{% for category in sections[section] %}
{% for text, issues in sections[section][category] %}
- {{ text }}{% if issues %} ({% for issue in issues %}{{ issue }}{% if not loop.last %}, {% endif %}{% endfor %}){% endif %}
{% endfor %}
{% endfor %}

{% endif %}
{% endfor %}
