{
  "branches": [
    "develop",
    {
      "name": "homolog",
      "prerelease": "homolog",
      "channel": "homolog"
    },
    {
      "name": "main",
      "channel": "latest"
    }
  ],
  "plugins": [
    "semantic-release-commit-analyzer",
    "semantic-release-release-notes-generator",
    [
      "semantic-release-changelog",
      {
        "changelogFile": "CHANGELOG.md"
      }
    ],
    [
      "semantic-release-pypi",
      {
        "distPath": "dist",
        "pypiPublish": false
      }
    ],
    "semantic-release-github",
    [
      "semantic-release-git",
      {
        "assets": [
          "setup.py",
          "CHANGELOG.md",
          "version.txt",
          "backend/version.txt"
        ],
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ]
  ]
} 